body { text-align: center; font-family: Arial; background: #0D1B3A; color: white; }
button { padding: 14px 22px; background: #0080FF; color: #fff; border: none; border-radius: 12px; font-size: 18px; margin: 12px; }
video { width: 90%; margin-top: 20px; border-radius: 20px; }
